body{

}
.sender{
    border-style: groove;
    border-radius: 5%;
}
#videos{
    margin-top: 10%;
    margin-left: 5%;
}
.Searchbar{
   
}
#searchbarIcon{
    
}
#logout_btn{
    cursor: pointer;
}
#fav_btn{
    cursor: pointer;
}
#homeIcon{
    cursor: pointer;
    margin-right: -13%;
}


/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 400px) {
 
  
    #logout_btn{
        width: 100%;
    }
    #homeIcon{
        width: 100%;
    }
    #searchbarIcon{
        width: 100%;
    }
}

input[type=text]{
    width: 100%;
    padding: 12px 20px;

    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}