
#profilePicture{
    margin-top: 20%;
    width: 5%;
    height: 10%;
}

.sender{
    border-style: groove;
    border-radius: 5%;
}
#videos{
    margin-top: 10%;
    margin-left: 5%;
}
#logout_btn{
    cursor: pointer;
}
#homeIcon{
    cursor: pointer;

}
.avatar{
    background-color: #ffffff;
    color: white;
    padding: 16px;
    margin-top: -10%;

    font-size: 16px;
    border: none;
}
.Dropdown{
    position: relative;
    display: inline-block;
    margin-left: 20%;
}
.Dropdown-content{
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.Dropdown-content a{
    cursor: pointer;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.Dropdown-content a:hover{
    background-color: #ccc;
}
.Dropdown:hover .Dropdown-content{
    display: block;
}
.Dropdown:hover .avatar {
    background-color: #a09d9d;
}


/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 400px) {
    #logout_btn{
        width: 100%;
    }
    #homeIcon{
        width: 100%;
    }
    #avatar{
        width: 100%;
    }
    #profilePicture{
        width: 100%;
    }
}

input[type=text]{
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.videoLink{
    width: 100%;
    clear: both;

}

#editFav{
    clear: both;

}
.thumbnail{
    float: left;
    width: 5%;
}
.videoTitle{
    float: left;
    width: 50%;
}
.videoDuration{
    float: left;
    width: 10%;
}
.checkBoxFav{
    margin-top: 1%;
    margin-right: 5%;
    float: right;
    visibility: hidden;
    cursor: pointer;
}
#trends{
    clear: both;
}
hr{
    width: 94.5%;
    background-color: #2d2d2d;
    height: 3px;
    margin-right:20%;
    border-color: white;
    clear: both;
}
.videoLink:hover{
    cursor: pointer;
}
.favBtn{
    border-style: none;
    font-size: 0.5cm;
}
.favBtn:hover{
    cursor: pointer;
}
#editBtn{
    background-color: white;
}
#safeBtn{
    float: left;
    background-color: green;
    display: none;
}
#abortBtn{
    background-color: red;
    display: none;
}

#favorites{
    clear: both;
    font-size: 0.5cm;
    margin-left: 5%;
}
#selectAllBtn{
    background-color: white;
    float: right;
    margin-right: 5%;
    visibility: hidden;
}