
body{

}
.sender{
    border-style: groove;
    border-radius: 5%;
}
#videos{
    padding-left: 10%;;
}

.thumbnail{
    width: 50%;
    margin-left:2% ;
    margin-top: 2%;
}

.videoLink{
    width:30%;
    float: left;
    border-style: groove;
    border-radius: 5%;
}

#buttons{
    clear: both;

}
#mainPage{

}
.Searchbar{

}
#searchbarIcon{

}
#logout_btn{
    cursor: pointer;
}
#fav_btn{
    cursor: pointer;
}
#homeIcon{
    cursor: pointer;
    margin-right: -13%;
}
#videoContainer{
    clear:both;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 400px) {

    #fav_btn{
        width: 100%;
    }
    #logout_btn{
        width: 100%;
    }
    #homeIcon{
        width: 100%;
    }
    #searchbarIcon{
        width: 100%;
    }
}

input[type=text]{
    width: 100%;
    padding: 12px 20px;

    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.showClass{
    clear: both;
    
}



