.sender{
    border-style: groove;
    border-radius: 5%;
}
#videos{
    padding-left: 10%;;
}

.thumbnail{
    width: 50%;
    margin-left:2% ;
    margin-top: 2%;
}

.videoLink{
    width:30%;
    float: left;
    border-style: groove;
    border-radius: 5%;
}

#buttons{
    clear: both;

}